[Unit]
Description=Run Solr Sitemap Generator Daily
Requires=sitemapper.service

[Timer]
# Run daily at 2:00 AM
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target